In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import xlrd

location = (r'C:\\Users\\Inance\\Documents\\Tester\\e.csv')
df = pd.read_csv(location, delimiter=';',names=['Names','Births'])
df

   Names Births
0    1,0    0,3
1    2,0    0,4
2    3,0    0,2
3    4,0    0,5
4    5,0    0,7
5    6,0    0,7
6    7,0    0,8
7    8,0    1,0
8    9,0    1,0
9   10,0    1,1
10  11,0    1,3
11  12,0    1,4
12  13,0    1,6
13  14,0    1,8
14  15,0    1,8
15  16,0    1,9
16  17,0    1,9
17  18,0    2,1
18  19,0    2,3
19  20,0    2,5

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#path=pd.read_csv(r'C:\\Users\\Inance\\Documents\\Tester',header=None,names=['Time','Load'])

data = pd.read_excel(r'C:\\Users\\Inance\\Documents\\Thesis\\Burst_Testing_Data_Analysis\\Analysed Data\\Crash Burst\\Summary_Data_Crush_Burst.xlsx', sheetname='Overall_Burst_Data',names=['Time','Load','a','b','c','d','e','Time1','Load1','a1','b1','c1','d1','e1','Time2','Load2','a2','b2','c2','d2','e2','Time3','Load3','a3','b3','c3','d3','e3','Time4','Load4'])

In [3]:
# The inital set of baby names and bith rates
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
BabyDataSet = list(zip(names,births))
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])
df

# Method 2:
df['Births'].max()


# Create graph
df['Births'].plot()

In [4]:
df['Births'].plot

In [5]:
# Maximum value in the data set
MaxValue = df['Births'].max()

# Name associated with the maximum value
MaxName = df['Names'][df['Births'] == df['Births'].max()].values

# Text to display on graph
Text = str(MaxValue) + " - " + MaxName

# Add text to graph
plt.annotate(Text, xy=(1, MaxValue), xytext=(8, 0), 
                 xycoords=('axes fraction', 'data'), textcoords='offset points')


df[df['Births'] == df['Births'].max()]
#Sorted.head(1) can also be used

  Names  Births
4   Mel     973

In [18]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

location = (r'C:\\Users\\Inance\\Documents\\Tester\\e.csv')
df = pd.read_csv(location, delimiter=';',names=['First','Second'])
df
df.reset_index() 

plt.figure(); df.plot(); plt.legend(loc='best')
#plt.show()

TypeError: Empty 'DataFrame': no numeric data to plot

In [ ]:
plt.plot(plt.arrange(20))